@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #022946;
    --color-secund: #FC8D0A;

    --color-border: #f3a41f;
    --font-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: 'Roboto';
}

.button-link {
    background-color: var(--color-secund);
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.button-link-outline {
    background-color: white;
    border: 2px solid;
    fill: var(--color-primary);
    color: var(--color-primary);
    border-radius: 10px;
    padding: 20px;
}

.primary-button {
    background-color: #1896fe;
    font-family: "Archivo", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #ffffff;
    color: #ffffff;
    border-style: solid;
    border-color: #1896fe;
    border-radius: 15px;
    box-shadow: 5px -5px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 50px 16px 50px;
}

.secund-button {
    background-color: #ffffff;
    font-family: "Archivo", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 5px -5px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 50px 16px 50px;
}

.card {
    flex: 1 1 20rem;
    width: 20rem;
    height: 30rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-action {
    justify-content: flex-end;
}

.card-sec {
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 7px;
    padding: 30px;
    text-align: center;
    height: 80%;
}

.card-sec:hover {
    border-radius: 30px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.card-sec figure {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.card-sec figure img {
    width: 100%;
}

.card-sec div p {
    margin-top: 1vh;
}

.banner {
    max-width: 100%; 
    width: 80vw; 
    margin-left: auto; 
    margin-right: auto;
    /* color: white; */

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.deck {
    margin-top: 1vh;
    padding: 1rem;
}

.deck ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.deck ul li {
    display: flex;
}

.information {
    text-align: center;
}

.social-links {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    color: white;
}

.headling-title {
    font-family: "Poppins", Sans-serif;
    font-size: 58px;
    font-weight: 200;
    color: #FFFFFF;
}

.text-paragrafo {
    text-align: left;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.show {
    display: flex;
}

.icon {
    font-style: normal;
}

.noshow {
    display: none;
}

.row {
    margin-bottom: 2em;
}

.row label {
    color: black;
}

.row button {
    width: 100%;
}

.banner-container {
    min-height: 631px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.formulario {
    display: flex;
    flex-direction: column;

    & label {
        color: #7a7a7a;
    }

    & input[type="text"], [type="email"], [type="password"], [type="date"], textarea {
        background-color: #ffffff;
        border-color: #02010129;
        border-radius: 5px;
        padding: 12px;
    }
}

.formulario_checkbox {
    display: block;
    margin-top: 1em;
}

.text-title {
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 200;
    color: #000000;
}

.divider {
    background: black;
    width: 30%;
}

.historia_content {
    width: 30vw;
    padding: 3em;
}

.historia_content p {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 1em;
    color: #7a7a7a;
}

.diretriz {
    background-color: #022946;
    color: white;
    width: 60%;
    padding: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.board {
    border: 1px solid;
    width: 35vw;
    height: 20vh;
    display: flex;
}

.board div {
    padding: 32px;
}

.board div h3 {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.333em;
    letter-spacing: -0.25px;
    color: #333333;
}

.board div p {
    color: #777777;
    font-size: 0.875rem;
    line-height: 1.617em;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: -1px 0px 20px 0px rgba(0, 0, 0, 0.11);
    width: 30em;
    min-height: 20vh;
    margin-top: 5em;
    margin-bottom: 5em;
}

.form-container h2 {
    font-family: "Playfair Display", Sans-serif;
    font-size: 3.4em;
    font-weight: 700;
    line-height: 1.2em;
    color: black;
    text-align: center;

    margin-bottom: 1em;
}

.form-container p label {
    color: #7a7a7a;
}

.form-container p input[type="text"], [type="email"], [type="password"], [type="date"], [type="file"], textarea, select {
    background-color: #ffffff;
    border-color: #02010129;
    border-radius: 5px;
    padding: 12px;
    width: 94%;
    margin-bottom: 2em;
}

@media (max-width: 610px) {
    .form-container {
        width: 20em;
    }
}

@media (max-width: 768px) {
    .diretriz {
        flex-direction: column;
        text-align: center;
    }

    .boards {
        flex-direction: column;
    }

    .board {
        width: 100%;
    }

    .historia_content {
        width: 65vw;
    }
}