@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #022946;
    --color-secund: #FC8D0A;

    --color-border: #f3a41f;
    --font-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: 'Roboto';
}

.button-link {
    background-color: var(--color-secund);
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.button-link-outline {
    background-color: white;
    border: 2px solid;
    fill: var(--color-primary);
    color: var(--color-primary);
    border-radius: 10px;
    padding: 20px;
}

.primary-button {
    background-color: #1896fe;
    font-family: "Archivo", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #ffffff;
    color: #ffffff;
    border-style: solid;
    border-color: #1896fe;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 5px -5px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 50px 16px 50px;
}

.secund-button {
    background-color: #ffffff;
    font-family: "Archivo", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 5px -5px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 50px 16px 50px;
}

.card-primary {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.card-primary img {
    max-width: 100%;
    height: auto;
}

.card-primary a {
    padding: 3em 0 2em 0;
}

.card-sec {
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 30px;
    text-align: center;
}

.card-sec figure {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.card-sec figure img {
    width: 100%;
}

.card-sec div p {
    margin-top: 1vh;
}


.banner {
    width: 766px;
    margin-left: 169px;
    color: white;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.deck {
    margin-top: 1vh;
    padding: 10px;
}

.deck ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}

.deck ul li {
    width: 19%;
    height: auto;
}

.information {
    text-align: center;
}

.redes {
    display: flex;
    gap: 2em;
    justify-content: center;

    & a {
        text-decoration: none;
        color: white;
    }
}

.headling-title {
    /* font-family: "Poppins", Sans-serif; */
    font-size: 58px;
    font-weight: 200;
    color: #FFFFFF;
}

.text-editor {
    text-align: left;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 200;
}