#content-banner-user {
    min-height: 85vh;
    width: 100%;

    background-color: #F8E1E1;
    background-image: url(../img/banner_1.png);
    background-position: center right;
    background-size: cover;

    display: flex;
    justify-content: flex;
    align-items: center;
}

/* background-color: white;
border: 1px solid black;
border-radius: 10px;
width: 50%;
margin-top: 5em;
margin-bottom: 5em; */