#content-banner-user {
    min-height: 85vh;
    width: 100%;

    background-color: #F8E1E1;
    background-image: url(../img/banner_1.png);
    background-position: center right;
    background-size: cover;

    justify-content: flex;
    align-items: center;
}