#banner_init {
    background-color: #F8E1E1;
    background-image: url(../img/banner_sobre);
    background-position: center left;
    background-size: cover;
}

#historia{
    display: flex;
    justify-content: center;
    align-items: center;
}

#diretrizes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 5em 0 5em;
}

#diretrizes h2 {
    font-family: "Roboto", Sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1666em;
    color: rgba(0, 0, 0, 0.8);
}

#diretrizes div i {
    font-size: xxx-large;
    border: 1px solid;
    padding: 0.5em;
    border-radius: 100%;
    flex-shrink: 2;
}

#diretrizes div div h3 {
    font-family: "Poppins", Sans-serif;
    font-size: 1.5em;
}

#diretrizes div div p {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

#abordagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 5em 0 5em;
}

#abordagem #boards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

#banner_3 {
    background-image: url("../img/banner_3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%;
}

#analise_dados {
    background-image: url("../img/analise-dados.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%;
}

#analise {
    background-image: url("../img/analise.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%;
}

#text-abordagem {
    text-align: center;
    padding: 5em;
}

#text-abordagem h2 {
    font-family: "Roboto", Sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1666em;
    color: rgba(0, 0, 0, 0.8);
}

#text-abordagem p {
    font-family: "Poppins", Sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4em;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 768px) {

    #historia {
        flex-direction: column;
    }
}