{% extends "layouts/base.html" %}
{%block content%}
<section id="politicas_privacidade">
    <h1>Políticas de privacidade</h1>
    <section id="politicas_content">
        <p>
            A PSC SERVICE respeita sua privacidade e está comprometida em proteger os dados pessoais que você compartilha conosco. Este aviso de privacidade explica como coletamo, usamos, compartilhamos e protegemos suas informações.
        </p>
        <p>
            1. Coleta de Informações Nós coletamos informações pessoais que você nos fornece diretamente, como quando você se registra em nosso site, faz uma compra ou se inscreve em nossanewsletter. Também podemos coletar automaticamente informações sobre sua interação com nosso site, como seu endereço IP e o tipo de navegador que você usa.
        </p>
        <p>
            2. Uso das Informações Utilizamos suas informações para fornecer e melhorar nossos serviços, processar suas transações, enviar atualizações e promoções, e para fins de segurança e prevenção de fraude.
        </p>
        <p>
            3. Compartilhamento de Informações Não vendemos suas informações pessoais a terceiros. Podemos compartilhar suas informações com parceiros de negócios que nos auxiliam na operação do site e na prestação dos nossos serviços, desde que estes sigam as mesmas práticas de privacidade.
        </p>
        <p>
            4. Segurança das Informações Adotamos medidas de segurança técnicas e organizacionais para proteger suas informações pessoais contra acesso não autorizado, uso indevido, alteração ou destruição.
        </p>
        <p>
            5. Seus Direitos Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Também pode optar por não receber comunicações de marketing a qualquer momento.
        </p>
        <p>
            6. Alterações a Este Aviso Podemos atualizar este aviso de privacidade periodicamente. Recomendamos que você revise este aviso regularmente para se manter informado sobre nossas práticas de privacidade.
        </p>
        <p>
            Se você tiver qualquer dúvida sobre este aviso de privacidade, entre em contato conosco através do contato@pscservice.site
        </p>
    </section>
</section>
{%endblock%}