{% extends "layouts/base.html" %}
{%block content%}

<section class="banner" id="content-banner-user">
    <form method="post" enctype="multipart/form-data" class="form-contact">
        {%csrf_token%}
        <section>
            <div class="row formulario-gen">
                {{form.as_p}}
            </div>
            
            <div class="row formulario">
                <button class="primary-button" type="submit"> Salvar</button>
            </div>
        </section>
    </form>
</section>

{%endblock content%}