{% extends "layouts/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{%block content%}
<section id="_1">
    <div class="banner-container">
        <div class="banner">
            <h2 class="headling-title"><b>Somando Experiências <span style="color: #fc8d0a">Alcançando Metas.</span></b>
            </h2>
            <p class="text-paragrafo">Nossa abordagem é centrada nas necessidades do cliente, possibilitando resultados
                consistentes e alinhados
                aos seus objetivos imediatos.</p>
            <a href="https://api.whatsapp.com/send/?phone=5521971573947&text&type=phone_number&app_absent=0"
                target="_blank" class="button-link">ENTRE EM CONTATO CONOSCO</a>
        </div>
    </div>
</section>

<section id="_2">
    <div id="servicos">
        <h2>Nossos Serviços</h2>
        <p>Hoje, nós expandimos nossa área de atuação para diversos segmentos empresariais e desenvolvemos, através da
            nossa expertise, uma ampla gama de serviços, tais como:</p>
    </div>

    <section class="deck">
        <ul>
            <li>
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/cards/prin/consultoria.jpeg'%}"
                        alt="Card Consultoria empresarial">
                    <div class="card-body">
                        <h5 class="card-title">Consultoria Empresarial</h5>
                        <p class="card-text">Soluções personalizadas em análise de dados, auditoria antifraude, logística e organizção de eventos</p>
                    </div>

                    <div class="card-body card-action">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="ConsultaEmpresarialModal">SAIBA MAIS</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/cards/prin/gerenciamento.png'%}"
                        alt="Card gerenciamento de projetos">
                    <div class="card-body">
                        <h5 class="card-title">Gerenciamento de Projetos</h5>
                        <p class="card-text">Gerenciamento estratégico de tarefas para o alcance de metas com eficiência.</p>
                    </div>

                    <div class="card-body card-action">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="ConsultaEmpresarialModal">SAIBA MAIS</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/cards/prin/investigacao.png'%}"
                        alt="Card investigaçãoo empresarial">
                    <div class="card-body">
                        <h5 class="card-title">Investigação Empresarial</h5>
                        <p class="card-text">Coleta e análise de dados, validação de informações e elaboração de relatórios detalhados.</p>
                    </div>

                    <div class="card-body card-action">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="ConsultaEmpresarialModal">SAIBA MAIS</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/cards/prin/treinamento.png'%}"
                        alt="Card treinamento dos colaboradores">
                    <div class="card-body">
                        <h5 class="card-title">Treinamento e capacitação dos colaboradores</h5>
                        <p class="card-text">Oferecemos programas de treinamento personalizados para capacitar colaboradores de acordo com as necessidades específicas de cada cliente e setor.</p>
                    </div>

                    <div class="card-body card-action">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="ConsultaEmpresarialModal">SAIBA MAIS</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/cards/prin/consultoria.jpg'%}"
                        alt="Card consultoria de compliance">
                    <div class="card-body">
                        <h5 class="card-title">Consultoria e implementação de compliance</h5>
                        <p class="card-text">Desenvolvemos e implementamos estruturas de compliance personalizadas para empresas de diferentes portes e segmentos.</p>
                    </div>

                    <div class="card-body card-action">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="ConsultaEmpresarialModal">SAIBA MAIS</button>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>

<section id="_3">
    <div class="banner">
        <h2 class="headling-title"><span style="color: #fc8d0a">PSC Service:</span> Sua Parceira em Gestão Empresarial</h2>
        <p class="text-paragrafo">
            Na PSC Service, estamos dedicados a liderar o caminho em gestão empresarial com uma forte ênfase em
            planejamento organizacional. Nosso compromisso é claro: fornecer soluções inteligentes e eficazes que
            impulsionem o crescimento e o sucesso de nossos clientes.
        </p>

        <a href="https://api.whatsapp.com/send/?phone=5521971573947&text&type=phone_number&app_absent=0" target="_blank"
            class="button-link">ENTRE EM CONTATO CONOSCO</a>
    </div>
</section>

<section id="_4">
    <h2>Na PSC, <b>somos especialistas em atender o setor de Mobilidade Humana</b>, oferecendo soluções e treinamentos
        personalizados para os setores de:</h2>

    <section class="deck">
        <ul>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="{% static 'img/especialidades/aeroporto.png'%}" alt="#">
                    </figure>
                    <div>
                        <h3>Aeroportos</h3>
                        <p>Orientamos a mitigar os riscos com segurança, eficiência operacional e satisfação dos
                            passageiros por meio de serviços de treinamento, consultoria e auditoria.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="{% static 'img/especialidades/metro-1.png'%}" alt="#">
                    </figure>
                    <div>
                        <h3>Metros</h3>
                        <p>Implementamos estratégias para melhorar a operação e a segurança, treinando equipes para
                            lidar com situações adversas preservando a imagem da empresa e satisfação do cliente.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="{% static 'img/especialidades/trem-de-brinquedo.png'%}" alt="#">
                    </figure>
                    <div>
                        <h3>Trens</h3>
                        <p>Fornecemos serviços de treinamento especializado para colaboradores, garantindo a excelência
                            no atendimento ao público e a segurança nas operações ferroviárias.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="{% static 'img/especialidades/barco.png'%}" alt="#">
                    </figure>
                    <div>
                        <h3>Barcas</h3>
                        <p>Desenvolvemos e implementamos programas de treinamento focados na segurança e no atendimento
                            ao público, além de oferecer consultoria para padronização e organização dos processos nas
                            operações.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="{% static 'img/especialidades/companhia.png'%}" alt="#">
                    </figure>
                    <div>
                        <h3>Empresas</h3>
                        <p>Realizamos investigações detalhadas para detectar atividades ilícitas, proteger ativos e
                            garantir a conformidade com as políticas internas.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="{% static 'img/especialidades/mao.png'%}" alt="#">
                    </figure>
                    <div>
                        <h3>Recursos Humanos</h3>
                        <p>Auxiliamos na identificação de fraudes internas, comportamentos inadequados e outras questões
                            que podem impactar a integridade da empresa. Nossos serviços de investigação ajudam a manter
                            um ambiente de trabalho seguro e ético.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="{% static 'img/especialidades/advogado.png'%}" alt="#">
                    </figure>
                    <div>
                        <h3>Advogados</h3>
                        <p>Oferecemos suporte na coleta de provas, verificação de informações e análise de dados para
                            fortalecer casos judiciais. Nossa experiência em investigação digital pode ser crucial para
                            a defesa ou acusação em processos legais.</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>

<section id="_5" class="information">
    <div>
        <h2 class="text-title">Trabalhos realizados com <b>nossa expertise:</b></h2>
        <hr class="divider">
    </div>
    <img src="{% static 'img/expertise.png'%}" alt="expertise">
</section>

<section id="_5_1" class="information">
    <div>
        <h2 class="text-title">Alguns de <b>nossos clientes</b></h2>
        <hr class="divider">
    </div>
    <figure>
        <img src="{% static 'img/Clientes.jpg'%}" width="100%" alt="clientes">
    </figure>
</section>

<section id="_6">
    <div>
        <h2>Uma única <span>solução</span> para seu negócio.</h2>
        <p>Não desperdice mais recursos em treinamentos ineficientes, invista agora!</p>

        <section>
            <ul>
                <li>
                    <h3>+4,320</h3>
                    <p>colaboradores treinados em 12 estados do Brasil.</p>
                </li>
                <li>
                    <h3>+90%</h3>
                    <p>de satisfação nos treinamentos</p>
                </li>
                <li>
                    <h3>+80%</h3>
                    <p>de redução de tempo de capacitação</p>
                </li>
                <li>
                    <h3>+90%</h3>
                    <p>de engajamento</p>
                </li>
            </ul>
        </section>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ConsultaEmpresarialModal" tabindex="-1" role="dialog" aria-labelledby="ConsultaEmpresarialModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConsultaEmpresarialModalTitle">Consulta Empresarial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{%endblock content%}