{% extends "layouts/base.html" %}
{% load static %}
{%block content%}
<!-- <h1>
    <div style="color:rgb(0, 21, 255)">Somando Experiência.</div>
<div style="color:orange">Alcançando Metas.</div>
</h1>
<p class="descricao">
Nossa abordagem é centrada nas necessidades do cliente,
possibilitando resultados consistentes e alinhados aos seus objetivos imediatos.
</p> -->

<section id="_1">
    <div class="banner">
        <h2 class="headling-title"><b>Somando Experiências <span style="color: #fc8d0a">Alcançando Metas.</span></b></h2>
        <p>Nossa abordagem é centrada nas necessidades do cliente, possibilitando resultados consistentes e alinhados
            aos seus objetivos imediatos.</p>
        <a href="#" class="button-link">QUERO RECEBER UM DIAGNÓSTICO</a>
    </div>
</section>

<section id="_2">
    <div id="servicos">
        <h2>Nossos Serviços</h2>
        <p>Hoje, nós expandimos nossa área de atuação para diversos segmentos empresariais e desenvolvemos, através da
            nossa expertise, uma ampla gama de serviços, tais como:</p>
    </div>

    <section class="deck">
        <ul>
            <li>
                <div class="card-primary">
                    <img src="{% static 'img/cards/prin/consultoria.jpeg'%}" alt="#">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dolor explicabo. Veritatis ipsa
                        rem sit eligendi tempora alias ex velit distinctio, ea totam delectus voluptatum, officia
                        voluptatibus dolore, dolores optio.</p>

                    <a href="#">SAIBA MAIS</a>
                </div>
            </li>
            <li>
                <div class="card-primary">
                    <img src="{% static 'img/cards/prin/consultoria.jpeg'%}" alt="#">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dolor explicabo. Veritatis ipsa
                        rem sit eligendi tempora alias ex velit distinctio, ea totam delectus voluptatum, officia
                        voluptatibus dolore, dolores optio.</p>

                    <a href="#">SAIBA MAIS</a>
                </div>
            </li>
            <li>
                <div class="card-primary">
                    <img src="{% static 'img/cards/prin/consultoria.jpeg'%}" alt="#">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dolor explicabo. Veritatis ipsa
                        rem sit eligendi tempora alias ex velit distinctio, ea totam delectus voluptatum, officia
                        voluptatibus dolore, dolores optio.</p>

                    <a href="#">SAIBA MAIS</a>
                </div>
            </li>
            <li>
                <div class="card-primary">
                    <img src="{% static 'img/cards/prin/consultoria.jpeg'%}" alt="#">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dolor explicabo. Veritatis ipsa
                        rem sit eligendi tempora alias ex velit distinctio, ea totam delectus voluptatum, officia
                        voluptatibus dolore, dolores optio.</p>

                    <a href="#">SAIBA MAIS</a>
                </div>
            </li>
            <li>
                <div class="card-primary">
                    <img src="{% static 'img/cards/prin/consultoria.jpeg'%}" alt="#">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dolor explicabo. Veritatis ipsa
                        rem sit eligendi tempora alias ex velit distinctio, ea totam delectus voluptatum, officia
                        voluptatibus dolore, dolores optio.</p>

                    <a href="#">SAIBA MAIS</a>
                </div>
            </li>
        </ul>
    </section>
</section>

<section id="_3">
    <div class="banner">
        <h2>PSC Service: Sua Parceira em Gestão Empresarial</h2>
        <p class="text-editor">
            Na PSC Service, estamos dedicados a liderar o caminho em gestão empresarial com uma forte ênfase em
            planejamento organizacional. Nosso compromisso é claro: fornecer soluções inteligentes e eficazes que
            impulsionem o crescimento e o sucesso de nossos clientes.
        </p>

        <a href="#" class="button-link">QUERO RECEBER UM DIAGNÓSTICO</a>
    </div>
</section>

<section id="_4">
    <h2>Na PSC, <span>somos especialistas em atender o setor de Mobilidade Humana</span>, oferecendo soluções e
        treinamentos personalizados para os setores de:</h2>

    <section class="deck">
        <ul>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="https://pscservice.site/wp-content/uploads/2024/06/trem-de-brinquedo.png" alt="#">
                    </figure>
                    <div>
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, itaque accusantium fugiat
                            voluptatem rerum maiores fugit maxime id sequi dicta eligendi non vero, magni officia ea
                            aperiam optio, accusamus unde.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="https://pscservice.site/wp-content/uploads/2024/06/trem-de-brinquedo.png" alt="#">
                    </figure>
                    <div>
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, itaque accusantium fugiat
                            voluptatem rerum maiores fugit maxime id sequi dicta eligendi non vero, magni officia ea
                            aperiam optio, accusamus unde.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="https://pscservice.site/wp-content/uploads/2024/06/trem-de-brinquedo.png" alt="#">
                    </figure>
                    <div>
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, itaque accusantium fugiat
                            voluptatem rerum maiores fugit maxime id sequi dicta eligendi non vero, magni officia ea
                            aperiam optio, accusamus unde.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="https://pscservice.site/wp-content/uploads/2024/06/trem-de-brinquedo.png" alt="#">
                    </figure>
                    <div>
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, itaque accusantium fugiat
                            voluptatem rerum maiores fugit maxime id sequi dicta eligendi non vero, magni officia ea
                            aperiam optio, accusamus unde.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="https://pscservice.site/wp-content/uploads/2024/06/trem-de-brinquedo.png" alt="#">
                    </figure>
                    <div>
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, itaque accusantium fugiat
                            voluptatem rerum maiores fugit maxime id sequi dicta eligendi non vero, magni officia ea
                            aperiam optio, accusamus unde.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="https://pscservice.site/wp-content/uploads/2024/06/trem-de-brinquedo.png" alt="#">
                    </figure>
                    <div>
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, itaque accusantium fugiat
                            voluptatem rerum maiores fugit maxime id sequi dicta eligendi non vero, magni officia ea
                            aperiam optio, accusamus unde.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-sec">
                    <figure>
                        <img src="https://pscservice.site/wp-content/uploads/2024/06/trem-de-brinquedo.png" alt="#">
                    </figure>
                    <div>
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, itaque accusantium fugiat
                            voluptatem rerum maiores fugit maxime id sequi dicta eligendi non vero, magni officia ea
                            aperiam optio, accusamus unde.</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>

<section id="_5" class="information">
    <h2>Trabalhos realizados com nossa expertise:</h2>
    <img src="{% static 'img/expertise.png'%}" alt="expertise">
</section>

<section id="_5.1" class="information">
    <h2>Alguns de nossos clientes</h2>
    <figure>
        <img src="{% static 'img/Clientes.jpg'%}" alt="clientes">
    </figure>
</section>

<section id="_6">
    <div>
        <h2>Uma única solução para seu negócio.</h2>
        <p>Não desperdice mais recursos em treinamentos ineficientes, invista agora!</p>

        <section>
            <ul>
                <li>
                    <h3>+4,320</h3>
                    <p>colaboradores treinados em 12 estados do Brasil.</p>
                </li>
                <li>
                    <h3>+90%</h3>
                    <p>de satisfação nos treinamentos</p>
                </li>
                <li>
                    <h3>+80%</h3>
                    <p>de redução de tempo de capacitação</p>
                </li>
                <li>
                    <h3>+90%</h3>
                    <p>de engajamento</p>
                </li>
            </ul>
        </section>
    </div>
</section>

<section id="_7">
    <div id="container_form">
        <h2>Quer melhorar seus resultados?</h2>
        <span>Receba um diagnóstico gratuito</span>
        <hr>

        <h3>Preencha os campos abaixo, vamos entrar em contato.</h3>

        <div>
            <form>
                <div class="formulario">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" placeholder="Nome">
                </div>
                <div class="formulario">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Email">
                </div>
                <div class="formulario">
                    <label for="empresa">Empresa</label>
                    <input type="text" id="empresa" placeholder="Empresa">
                </div>
                <div class="formulario">
                    <label for="cargo">Cargo</label>
                    <input type="text" id="cargo" placeholder="Cargo">
                </div>
                <div class="formulario">
                    <label for="descricao">Deixe sua mensagem</label>
                    <textarea id="descricao" placeholder="Compartilhe conosco o seu objetivo"></textarea>
                </div>
                <div class="formulario_checkbox">
                    <input type="checkbox" id="lgpd">
                    <label for="lgpd">Conforme LGPD, trataremos seus dados com a finalidade de responder ao seu e-mail
                        após seus contato. Clique aqui para acessar o <a href="#">Aviso de privacidade</a></label>
                </div>

                <div class="formulario">
                    <button class="primary-button">Solicite sua demonstração</button>
                </div>
            </form>
        </div>
    </div>
</section>
{%endblock content%}